.title-modal {
    width: unset;
    padding: 30px 0;
    text-align: center;
}

.contact-wrapper {
    width: 860px;
    margin: 0 auto;
}

@media only screen and (max-width: 920px) {
    .contact-wrapper {
        width: 90%;
    }
}