.p-reg {
    font-size: 1.2rem;
}

.share-box-single-news .blue-form-btn {
    width: 14vw;
}

.slider-single-page {
    margin-top: 0;
    padding-top: 11vw;
}

.social-icon {
    margin-top: 2px;
    color: #fff;
    text-align: center !important;
    display: block;
    line-height: 40px !important;
    width: 38px !important;
    height: 38px !important;
    font-size: 22px !important;
}

.contact-button {
    background: #3075bb;
    color: #fff;
    border: none;
    padding: 16px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: supermolot-regular, sans-serif;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.contact-margin {
    margin: 15px 0 0 0;
}

.background-website {
    padding: 75px 0;
}

.box-left-text-right-image__img {
    width: 80%;
}

.photo-college {
    margin: 30px;
}

.section-main-page-2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 30px 0;
    margin: 55px;
}

.custom-service-grid {
    margin: 0;
}

.mt-100 {
    margin-top: 100px;
}

.slick-slide img {
    width: 45%;
    margin: auto auto;
}

.slick-slider {
    margin-top: 60px;
}

.box-left-text-right-image .row {
    height: unset !important;
}

.box-left-text-right-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-240 {
    width: 240px;
}


@media (max-width: 768px) {
    .slider-single-page {
        width: 100%;
        margin: 0;
    }

    .box-left-text-right-image {
        flex-direction: column;
    }

    .box-left-text-right-image__img {
        width: 100%;
    }
}

